@import "tailwindcss";
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Regular.woff2") format("woff2"),
       url("/fonts/Vazir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --firstBackground: #374151; /* slate-700 */
  --firstColor: #ffffff; /* white */
  --linkColor: #818cf8; /* indigo-300 */
}
.bg-customGreen {
  background-color: #00ff00;
}
body {
  font-family: "vazir", Arial, Helvetica, sans-serif;
  background-color: var(--firstBackground) !important;
  color: var(--firstColor) !important;
}
.btn__404{
     width: 200px;
}
/* modal info */
.infoModal{
  position: absolute;
}
.modalUserInfo__title{
  font-family: "vazir",Arial, Helvetica, sans-serif !important;
}
.modalUserInfo__profile{
width: 100px !important;
height: 100px !important;
margin-top: 10px;
}
.formModal__bg{
  background: #000;
}
.bg-lime-100 {
    background-color:#ecfcca !important;
}
.bg-lime-200 {
    background-color:#d8f999 !important;
}
.bg-lime-300 {
    background-color:#bbf451 !important;
}
.bg-lime-400 {
    background-color:#9ae600 !important;
}
.bg-slate-900{
  background-color: #1d1c1ccc !important;
}
.bg-blue-600{
  background-color: #155dfc !important;
}
.text-gray-900{
  color: #101828;
}
.bg-indigo-600{
background-color: #4f39f6 !important;
}
.text-indigo-300{
  color: #a3b3ff !important;
}
.action__btns{
  margin: 0 5px !important;
}